
<div class="modal-body">
  <form #f="ngForm" id="addStock">

    <div class="form-group">
      <label for="qteMin">Quantité minimale</label>
      <input type="text" class="form-control" id="qteMin"  name="qteMin" ngModel [(ngModel)]="stock.qteMin">
    </div>
    <div class="form-group">
      <label for="libelleStock">libelle Stock</label>
      <input type="text" class="form-control" id="libelleStock"  name="libelleStock" ngModel [(ngModel)]="stock.libelleStock">
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <input type="submit" value="save" class="btn btn-primary" form="addStock" (click)="sendDataToParent(f.value)">
</div>
