<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v1</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Simple Full Width Table</h3>

        <div class="card-tools">
          <ul class="pagination pagination-sm float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
          </ul>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table">
          <thead>
          <tr>
            <th>montantFacture</th>
            <th>montantRemise</th>
            <th>status</th>
            <th>dateFacture</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let facture of factures">
            <td>{{facture.montantFacture}}</td>
            <td>{{facture.montantRemise}}</td>
            <td *ngIf="facture.active==true"><span class="badge badge-success">active</span> </td>
            <td *ngIf="facture.active==false"><span class="badge badge-danger">annulée</span> </td>
            <td>{{facture.dateFacture}}</td>

            <td> <!--<input type="submit" value="Update" class="btn btn-primary btn-sm m-1" (click)="update(stock)" >
              <button class="btn btn-danger btn-sm m-1" (click)="delete(stock)">delete </button>-->
              <button class="btn btn-dark btn-sm m-1" (click)="showProducts(facture)">Details</button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <input type="submit" value="add" class="btn btn-primary btn-sm m-1" (click)="addFacturetest()" >
  </div><!-- /.container-fluid -->
</section>

<!--
<input type="submit" value="add stock" (click)="add()">
<div *ngIf="show==true">
  <app-add-stock (notif)="addStock($event)"></app-add-stock>
</div>
<div *ngIf="show2==true">
  <app-add-stock [stock]="stock" (notif)="updateStock($event)"></app-add-stock>
</div>-->
<div *ngIf="show3==true">
  <table border="1" class="table-bordered ">
      <tr *ngFor="let detail of detailFactures ">
        <td>{{detail.montantRemise}}</td>
        <td>{{detail.pourcentageRemise}}</td>
        <td>{{detail.qte}}</td>
        <td>{{detail.prixTotal}}</td>

      </tr>

  </table>
</div>

